[Desktop Entry]
Type=Application
Name=Quark
Comment=XMPP-клиент для Openfire
Exec=quark
Icon=org.example.Quark
Terminal=false
Categories=Network;Chat;GTK;
StartupNotify=true
